@model Sepidar.Admin.Models.SliderModel

<div class="modal-body">

    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.Id, new { @data_role = "post-field" })

    <div class="row">
        <div class="col-md-12 form-group">
            @Html.LabelFor(x => x.PictureFile, new { @class = "control-label" })
            <input type="file" name="PictureFile" id="PictureFile" class="btn btn-info form-control" data-role="post-file" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 form-group">
            @Html.LabelFor(x => x.Title, new { @class = "control-label" })
            @Html.TextBoxFor(x => x.Title, new { @class = "form-control", @data_role = "post-field" })
        </div>
        <div class="col-md-6 form-group">
            @Html.LabelFor(x => x.OrderNumber, new { @class = "control-label" })
            @Html.TextBoxFor(x => x.OrderNumber, new { @class = "form-control", @type = "number", @data_role = "post-field" })
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 form-group">
            @Html.LabelFor(x => x.Description, new { @class = "control-label" })
            @Html.TextAreaFor(x => x.Description, new { @class = "form-control", @data_role = "post-field" })
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 form-group">
            @Html.LabelFor(x => x.LinkUrl, new { @class = "control-label" })
            @Html.TextBoxFor(x => x.LinkUrl, new { @class = "form-control", @data_role = "post-field" })
        </div>
    </div>

    @{ if (Sepidar.Admin.Config.HasLanguageInSlider)
        {
            <div class="row">
                <div class="col-md-6 form-group">
                    @Html.LabelFor(x => x.LanguageId, new { @class = "control-label" })
                    @await Html.PartialAsync("../Shared/_LanguageDropdown.cshtml")
                </div>
            </div>
        }
    }

    <div class="row">
        <div class="col-md-12 form-group">
            @Html.CheckBoxFor(x => x.IsActive, new { @data_role = "post-field" })
            @Html.LabelFor(x => x.IsActive, new { @class = "control-label" })
        </div>
    </div>

</div>
@Html.Partial("_ModalFooter")
